.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main .gh-inner {
    padding-top: 120px;
}

.site-content {
    flex-grow: 1;
    padding-bottom: 30px;
}

.page-template .site-content {
    padding-block: 0;
}

/* Remove padding when cover is present */
.has-full-image .site-content,
.has-wide-image .site-content,
.has-feature-image .site-content {
    padding-top: 0;
}

@media (min-width: 992px) {
    .related-column {
        order: 1;
    }

    .content-column {
        order: 2;
    }

    .sidebar-column {
        order: 3;
    }
}